<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>myrepo workshop01</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <p><img src="https://uploads.dailydot.com/2018/10/olli-the-polite-cat.jpg?q=65&auto=format&w=1200&ar=2:1&fit=crop" width="100" height="60"> <strong><%= item %></strong></p>
    <p>Repository <strong><a href="https://github.com/kt12work/myrepo">https://github.com/kt12work/myrepo</a></strong></p>
  </div>
</body>
</html>
